div(class="language " + language_outer)
  .language__wrapper
    .language__show
      a(href="#")
        img(src="img/icons/unitedKingdom.ico", alt="ukraine language")
    .language__select
      a(href="#")
        img(src="img/icons/ukraine.png", alt="ukraine language")
      a(href="#")
        img(src="img/icons/unitedKingdom.ico", alt="ukraine language")
