block var
head
  meta(charset="UTF-8")
  title #{title}
  <!--[if IE]>
  meta(http-equiv='X-UA-Compatible', content="IE = edge")
  <![endif]-->
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(name="keywords" content="")

  <!--[if lt IE 9]>
  script(src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js")
  <![endif]-->

  <meta property="og:image" content="img/icons/favicon.ico">
  <link rel="shortcut icon" href="img/icons/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="css/font-awesome.css">
  link(rel="stylesheet", href="css/normalize.css")
  link(rel="stylesheet", href="css/styles.css")
  link(rel="stylesheet", href="css/" + pageName + ".css")