div(class="linkToBook " + linkToBook_outer)
  .linkToBook__wrapper
    a(href="https://www.apress.com/us/book/9781430247166" target="_blank") Читав цю книгу
        span 
          i(class="fa fa-book")
    i(class="faThis fa fa-hand-o-right")
    i(class="faOk fa fa-thumbs-o-up")