div(class="logo " + logo_outer)
  .logo__wrapper
    a(href="index.html")
      h1(class="logo__h1") JavaScript
        //- span(class="logo__span") games
        span(class="logo__span") 
          i Games