.header .header__nav {
    float: right;
    margin-top: 3px;
}
.header .header__nav ul {
    display: flex;
    justify-content: space-between;
}
.header .header__nav ul li  {
    list-style: none;
}
.header .header__nav ul li:hover  {
    text-decoration: none;
}
.header .header__nav ul li a {
    height: 30px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
}